html,body {
    background-color: #faf2e4;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
img {
    max-height: 175px;
    max-width: 175px;
    width: 100%;
    height: 100%;
    display:flex;
    margin-left:auto;
    margin-right: auto;
}
a {
    padding: 5px;
    cursor: pointer;
    color:green;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: Serif;
}
h2 {
    color: #d1633c;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
em {
    font-style: italic;
}
header {
    padding-top: 20px;
    padding-left: 10px;
    background-color: black;
    height: 120px;
    min-height: 120px;
}
ul {
    margin-top: 15px;
}
.header-left {
    display: flex;
    float: left;
    background-color: violet;
    font-size: 15px;
    width: fit-content;
    border-radius: 10px;
}
.header-right {
    margin-left: auto;
    padding: 0px 11px;
    background-color: violet;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    padding-top: -9px;
    padding-bottom: 4px;
}
footer {
    height: 25px;
    margin-top: 5px;
    background-color: black;
    border-radius: 10px;
}
.footer-link {
    height: fit-content;
    margin-top: 20px;
    width: fit-content;
    border-radius: 10px;
    padding: 3px 20px;
    margin-left: 20px;
    background-color: violet;
}
button {
    background-color: violet;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    padding: 3px 20px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.text {
    color: red;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
}
.numbertext {
    color: red;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.6s ease;
    margin-top: 15px;
}
.mySlides {
    display: none;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#bgbm {
    text-align: center;
    font-size: 60px;
}
.images {
    display: flex;
    object-fit: cover;
}

.photo {
    width: fit-content;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}
span {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product-categories {
    margin-right: auto;
    margin-left: auto;
    color: green;
}
#bgbm2 {
    text-align: center;
    font-size: 60px;
    color: green;
}
.food-categories {
    display: flex;
    margin-left: auto;
    margin-right: auto ;
    max-height: 300px;
    max-width: 300px;
    height: 100%;
    width: 100%;
}
.product-categories {
    display: flex;
}
.burger-salad {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.container {
width: 100%;
height: fit-content;
display: flex;
flex-wrap: wrap;
}
.info {
 color:green; 
 background-color: black;  
 font-size: 25px;
}
.container-burger {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#root {
    max-width: 800px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.h1-style {
    width: 100%;
    text-align: start;
    border-bottom: 2px solid red;
}
footer {
    height: 120px;
    background-color: black;
    display: flex;
    min-height: 120px;
    border-radius: 0px;
}
.login_reg_system {
   display: flex;
   text-align: center;
   flex-direction: column;
}
.input-group {
    color:white;
    display: flex;
    width: fit-content;
    margin: auto;
}
form {
    background-color: black;
    margin:auto;
}
.login_reg_system, form,  a {
  padding: 10px 20px;
  color: #d1633c;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 3px
}
button {
    background-color: #d1633c;
    margin-top: 12px;
}